# .gitignore

# Ne plus ignorer les dossiers de données et de médias
!/.tmp
!/public/uploads

# Ignorer les dossiers de construction de Strapi
.build
.cache

# Ignorer les fichiers de configuration locaux
.env
.env.*

# Ignorer les modules node
node_modules

# Ignorer les logs
*.log

# Ignorer les fichiers de DB spécifique
.db
